html,body {
    height:100%;
    background : #838383;

}
header  {
display: block;
background:#ff5900;
padding:10px 0px;
text-align: center;
image-orientation: center;

}


.menu{
    list-style: none;
    padding: 0%;
    background: #006680;
    width:100%;
    max-width: 4000px;
    margin:auto;
    text-align: center;

}


.menu li{
    display:inline-block;
}

li a,boton{
    display: inline-block;
    color:white;
    text-align: center;
    text-decoration:none;
    padding: 0.9em 1em;

}
.listaDespegable{
    display:none;
    background-color:#838383;

}

.listaDespegable a
{
    display: block;
    color:#006680;
    text-align: left;
}
.boton:hover .listaDespegable
{

    display:block;
}
li a:hover{
    background-color:  #F0B429;
}

h1 {
    color:white;
}

footer{
    width: 100%;
    padding:30px;
    box-sizing:border-box;
    background:  #005883;
    margin:0 auto;
    border-radius: 0 0 20px 20px;
    text-align: center;
    color:white;
    font-family: timesnewroman;
    font-size: 12;
}
body{
    font-family: timesnewroman;
    font-size: 12;
}

div#general{
margin:auto ;
margin-top:50px;
width:900px;
height: 900px;
background-color: #b3b3b3;

}

div#seccion{
    width: 300px;
    height: 500;
    background-color: #F0B429;

}

article{
    text-align: center;
}